## Module:      mod-influxdb
## Loaded by:   Broker
# Export host and service performance data to InfluxDB.
# InfluxDB is an open-source distributed time series database with no external
# dependencies. http://influxdb.com/
define module {
    module_name     mod-influxdb
    module_type     influxdb_perfdata
    host            localhost
    port            8086
    user            root
    password        root
    database        database
    #tick_limit 300 ; Default value 300
}
